<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

  <!--||— MyBatis和spring集成的配置 STATRT —|| -->

  <bean id="cusDateTypeHandler" class="com.muses.common.orm.mybatis.CustomDateTypeHandler"/>

  <!-- sqlSession配置 -->
  <bean id="sqlSessionFactory" class="com.muses.common.orm.sqlmap.sqlsession.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
    <property name="typeAliasesPackage" value="com.muses.*.entity"/>
    <!-- 指定MyBatis配置文件 -->
    <property name="configLocation" value="classpath:/mybatis/mybatis-config.xml"/>
    <property name="mapperLocations" value="classpath:/mybatis/xml/*/*.xml"/>
    <!-- 兼容老的数据库, 原先日期类型都使用Date来表示TimeStamp -->
    <property name="typeHandlers">
      <list>
        <ref bean="cusDateTypeHandler"/>
      </list>
    </property>
  </bean>
  <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口 -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.muses.repository.*"/>
    <property name="annotationClass" value="com.muses.common.orm.mybatis.MyBatisRepository"/>
  </bean>

  <!--||__ MyBatis和spring集成的配置 END __|| -->
  <bean class="com.muses.common.orm.common.OrmContext">
    <property name="sessions">
      <map>
        <entry key="mq" value-ref="sqlSessionFactory"/>
      </map>
    </property>
    <property name="conversionService">
      <bean
        class="org.springframework.context.support.ConversionServiceFactoryBean"/>
    </property>
  </bean>
  <bean class="com.muses.common.orm.sqlmap.impl.MyBatisSqlmapAspect"/>


  <!-- 事务管理器配置 -->
  <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- 使用annotation定义事务 -->
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>


  <bean id="statFilter" class="com.alibaba.druid.filter.stat.StatFilter">
    <property name="logSlowSql" value="${druid.stat.logSlowSql}"/>
    <property name="slowSqlMillis" value="${druid.stat.slowSqlMillis}"/>
    <property name="mergeSql" value="${druid.stat.mergeSql}"/>
  </bean>

  <bean id="slf4jFilter" class="com.alibaba.druid.filter.logging.Slf4jLogFilter">
    <property name="statementSqlPrettyFormat" value="${druid.log.statementSqlPrettyFormat}"/>
  </bean>

  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driver}"/>
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
    <property name="defaultAutoCommit" value="false"/>

    <property name="initialSize" value="${druid.conn.initSize}"/>
    <property name="maxActive" value="${druid.conn.maxActive}"/>
    <property name="minIdle" value="${druid.conn.minIdle}"/>
    <property name="maxWait" value="${druid.conn.maxWait}"/>
    <property name="timeBetweenEvictionRunsMillis" value="${druid.conn.timeBetweenEvictionRunsMillis}"/>
    <property name="minEvictableIdleTimeMillis" value="${druid.conn.minEvictableIdleTimeMillis}"/>
    <property name="poolPreparedStatements" value="${druid.conn.poolPreparedStatements}"/>
    <property name="maxPoolPreparedStatementPerConnectionSize"
              value="${druid.conn.maxPoolPreparedStatementPerConnectionSize}"/>
    <property name="timeBetweenLogStatsMillis" value="${druid.timeBetweenLogStatsMillis}"/>

    <property name="proxyFilters">
      <list>
        <ref bean="statFilter"/>
        <ref bean="slf4jFilter"/>
      </list>
    </property>

  </bean>


</beans>
