<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		   http://www.springframework.org/schema/aop
		   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       default-lazy-init="false">

  <description>Spring配置</description>

  <!-- springContext -->
  <bean id="springContextUtils" class="com.muses.common.utils.SpringContextUtils"/>

  <!-- jmxInitializer -->
  <bean id="jmxInitializer" class="com.muses.JmxInitializer">
    <property name="jmxPort" value="${jmx.port}"/>
    <property name="jmxLocal" value="${jmx.local}"/>
    <property name="jmxAuthenticate" value="${jmx.authenticate}"/>
    <property name="jmxSSL" value="${jmx.ssl}"/>
    <property name="jmxUrl" value="${jmx.url}"/>
  </bean>

  <bean id="jacksonObjectMapper" name="jacksonObjectMapper"
        class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
    <property name="indentOutput" value="true"/>   <!-- 美化输出 -->
    <property name="objectMapper">
      <bean class="com.muses.common.jackson.IOObjectMapper"></bean>
    </property>
  </bean>

  <!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
  <context:component-scan base-package="com.muses"/>

  <!-- 定义aspectj -->
  <aop:aspectj-autoproxy proxy-target-class="true"/>

  <!-- context -->
  <import resource="classpath:context/context-spring.xml"/>
  <!-- ehcache 集成 -->
  <import resource="classpath:cache/encache-spring.xml"/>
  <!-- Mybatis 集成 -->
  <import resource="classpath:mybatis/mybatis-spring.xml"/>
  <!--dubbo 集成 -->
  <import resource="classpath:dubbo/dubbo-*.xml"/>
  <!-- redisson 集成 -->
  <import resource="classpath:/redis/redisson-spring.xml"/>
  <!-- orika 集成 -->
  <import resource="classpath:orika/orika-mapper.xml"/>

</beans>